* {
    box-sizing: border-box
  }
  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
    background: rgb(53, 53, 53);
  }
  
  #root {
    max-width: 90.625em;
    margin: 0 auto;
    height: 100em;
    width: 100em;
  }
  
.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 2em 0;
}

  .logo {
    text-align: center;
    padding: 1em;
    position: relative;
    height:13em;
    width: auto;
  }

  .top-container img{
    text-align: center;
    padding: 1em;
    position: relative;
    height:15em;
    width: auto;
    align-items: center;
  }
  .top-container h2 {
    font-size: 3em;
    color:white;
    text-align: center;
    position: relative;
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6em;
    margin-bottom: 1.25;
  }
  
  #searchbar {
    width: 18em;
    height: 2.6em;
    padding: 0.6em;
    border: .125em solid #ccc;
    border-radius: 1.25em;
    outline: none;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
  }
  
  #searchbar:focus {
    border-color: #6a5acd;
    box-shadow: 0 0 .6em rgba(106, 90, 205, 0.5);
  }
  
  /* Style for the search button */
  #searchButton {
    height: 2.6em;
    padding: 0 1.2em;
    border: none;
    border-radius: 1.25em;
    background-color: #6a5acd;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  #searchButton:hover {
    background-color: #483d8b;
  }
  
  #showtrending {
    height: 2.6em;
    width: 12em;
    border: none;
    border-radius: 1.5em;
    background-color: #ff6347;
    color: white;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  #showtrending:hover {
    background-color: #d94e37;
  }


  h1 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg, #c5c5c5 0%, #000000 100%);
    background-color: black;
    margin: 0 0 2rem 0;
    font-size: 1.2rem;
    color: white;
  }
  
h2 {
  font-size: 2em;
  color: white;
}

h3 {
  text-align: center;
  background-color: rgb(63, 63, 63);
  font-size: 1em;
  color: white;
  margin: 1em
}

  img {
    display: block;
    height: 10em;
    width: 18em;
    margin: 1rem auto;
    max-width: 100%;
  }

  
  p {
    padding: 0 2.5rem 2.5rem;
    margin: 0;
    font-size: 1em;
    color: white;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    margin: 0.5rem;
    background: rgb(66, 66, 66);
    box-shadow: .08em .25em 1.2em rgba(0, 0, 0, .1);
    border-radius: .75em;
    overflow: hidden;
    transition: all .2s linear;
    position: relative;
    display: block;
  }
  
  .video-link {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(27, 27, 27);
    border-radius: 0.2em;
    border-style: solid black;
    font-size: 1em;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.video-link:hover {
  background-color: #696969;
  text-decoration: underline;
}

  .card:hover {
    box-shadow: 0.2em 0.5em 2.8em rgba(0, 0, 0, .15);
    transform: translate3D(0, -2px, 0);
  }

  .back-to-top {
    position: fixed;
    z-index: 1000;
    padding: 1em 1em;
    color: white;
    font-weight: bold;
    bottom: 2em;
    background-color: #666;
    border-radius: 1em;
    right: 5em;
    transition: background-color 0.3s ease-in-out;
  }
  .back-to-top:hover {
    background-color:#3d3d3d;
    transition: background-color 0.3s ease-in-out;
  }

  @media screen and (min-width:300px){
  .card{
    flex: 1 1 calc(75% - 2em)
    }
  }
  @media screen and (min-width: 750px) {
    .card {
      flex: 1 1 calc(50% - 2em);
    }
  }
  
  @media screen and (min-width: 1000px) {
    .card {
      flex: 1 1 calc(33% - 2em);
    }
  }

  @media screen and (min-width: 1200px) {
    .card {
      flex: 1 1 calc(25% - 2em);
    }
  }
